:root {
    
  }
body {
    
}

.html {
font-size: 62.5%;
}

.input {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 20rem;
}

.input-primary {
    border: 1px solid var(--success-color);
}

.input-error{
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
}
