:root {
    --primary-color: white;
    --button-bg-color: rgb(0, 140, 255);
    --danger-color:#ff7f7f;
    --warning-color: #ffcc00;
    --success-color: rgb(92, 218, 20);
  }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(187, 181, 175);
}

.html {
font-size: 62.5%;
}

.btn {
    background-color: var(--button-bg-color);
    border-radius: 0.5rem;
    color: var(--primary-color);
    width: 5rem;
    height: 2rem;
}

.btn-outline {
    background-color: var(--primary-color);
    color: var(--button-bg-color);
    border: 2px solid var(--button-bg-color);
}

.btn-danger {
    background-color: var(--danger-color);
    border: var(--danger-color);
}

.btn-warning {
    background-color: var(--warning-color);
    border: var(--warning-color)
}

.alert {
    margin:1rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 0.5rem;
    color: var(--primary-color);
}

.alert-warning {
    background-color: var(--warning-color);
}

.alert-danger {
    background-color: var(--danger-color);
}

.alert-success {
    background-color: var(--success-color);
}