:root {
    --primary-color: white;
    --gray: gray;
    --black: black;
    --danger-color:#ff7f7f;
    --warning-color: #ffcc00;
    --success-color: #76EE00
}
body {
    font-family: sans-serif;
  }
  
  .html {
    font-size: 62.5%;
  }
  .toast-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .toast {
    border: 1px solid var(--gray);
    padding: 1rem;
    margin: 1rem;
    width: 90%;
    color: gray;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 5fr 15fr 0.4fr;
  }
  
  .toast-heading {
    color: var(--black);
  }
  .warning-toast {
    border-left: 1rem solid var(--warning-color);
  }
  
  .error-toast {
    border-left: 1rem solid var(--danger-color);
  }
  
  .success-toast {
    border-left: 1rem solid var(--success-color);
  }
  
  .close-toast {
    cursor: pointer;
  }
  