:root {
    
}

body {
    font-family: 'Raleway', sans-serif;
}

.html {
font-size: 62.5%;
} 

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(30px, auto);
}
.column-2 {
    border: 1px solid var(--black);
    padding: 1rem;
    margin: 0.5rem;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, auto);
}

.column-3 {
    border: 1px solid var(--black);
    padding: 1rem;
    margin: 0.5rem;
}